<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista de Empleados</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Empleados</h1>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/employee/new'}">Nuevo Empleado</a>
        <div class="alert alert-success" th:text="${msg1}" th:if="${msg1 != null}"></div>
        <div class="alert alert-warning" th:text="${msg2}" th:if="${msg2 != null}"></div>
        <div class="alert alert-danger" th:text="${msg3}" th:if="${msg3 != null}"></div>
        <form class="input-group mb-3" method="post" th:action="@{/employee/search}">
            <input type="text" class="form-control" placeholder="Buscar Employee" name="searchText">
            <a class="btn btn-outline-danger" th:href="@{/employee}"><i class="bi bi-x-circle"></i></a>
            <button class="btn btn-outline-success" type="submit">
                <i class="bi bi-search"></i></button>
        </form>
             <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>Ciudad</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee, info : ${listaEmployee}">
                    <td th:text="${info.index + 1}"></td>
                    <td th:text="${employee.firstName}"></td>
                    <td th:text="${employee.lastName}"></td>
                    <td th:text="${employee.job.jobtitle}"></td>
                    <td th:text="${employee.department.departmentname}"></td>
                    <td th:text="${employee.department.locationid.city}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/employee/edit' + '?id=' + ${employee.id}}">Editar</a>
                    </td>
                    <td><a class="btn btn-danger" th:href="@{'/employee/delete' + '?id=' + ${employee.id}}">Borrar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>